{% extends "base.html.twig" %}

{% block title %} Modification d'un gite {% endblock %}
{% block body %}
<h1>Modification d'un gite</h1>


{{ form_start(formGite) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(formGite.name) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(formGite.localisation) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(formGite.numberOfBedroom) }}
    </div>
    <div class="col-md-4">
        {{ form_row(formGite.numberOfBed) }}
    </div>
        <div class="col-md-4">
        {{ form_row(formGite.surface) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(formGite.contact) }}
    </div>
    <div class="col-md-6">
        {{ form_row(formGite.scheduleContact) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(formGite.description) }}
    </div>
    <div class="col-md-12">
        {{ form_row(formGite.Pets) }}
    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">éditer</button>
    <button type="reset" class="btn btn-default">annuler</button>
</div>

{{ form_end(formGite) }}


{% endblock %}


 


