{% extends "base.html.twig" %}

{% block title %} {{gite.name}} {% endblock %}
{% block body %}
<h3>{{gite.name}}</h3>
{{gite.description}}
{{gite.contact}}
{# {{gite.schedule_contact}} #}
{{gite.localisation}}
{{gite.surface}}
{# {{gite.number_of_bedroom}} #}
{# {{gite.number_of_bed}} #}
{{gite.equipement}}
{{gite.pets}}
<h2>equipements</h2>
<div class="col-md-6">
    <table class="table">
        {% for equipement in gite.equipements%}
        <tr>
            <td>{{ equipement.name}}</td>
        </tr>
    </table>
</div>

{% endblock %}

