<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# boostrap #}
		{# <link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> #}
		{# boostrap icon #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

		<!-- Bootstrap itself -->
		<link
		href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!-- Icons -->
		<link
		href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!-- Fonts -->
		<link
		rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<!-- Custom styles -->
		<link rel="stylesheet" href="css/template_superawesome.css">

		{# template_superawesome#}
		{# the CSS file lives at "public/css/blog.css" #}
        <link rel="stylesheet" href="{{ asset('css/template_superawesome.css') }}"> ;
		{# <link rel="stylesheet" href="../public/css/template_superawesome.css">; #}
		{# the JS file lives at "public/bundles/acme/js/loader.js" #}


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app')}}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app')}}
		{% endblock %}
	</head>

	<body>
{% block body %}{% endblock %}

	</body>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('bundles/superAwesome/template.js') }}"></script>

{# <script src="{{ asset('bundles/superAwesome/html5shiv.js') }}"> </script> #}

</html>
